<div class="col-md-4 icon-blurbs">
	<div class="icon-blurb-icon">
		{{ content.field_icon }}
	</div>
	<h2 class="icon-blurb-title">{{ content.field_burb_title.0 }}</h2>
	<div class="icon-blurb-text">
		{{ content.field_blurb_text }}
	</div>
</div>