<div class="col-md-12 info-panel-wrapper">
	<div class="inner-container">
		<div class="pre-title">
			{{ content.field_pre_title.0 }}
		</div>
		<div class="the-title">
			<h2>{{ content.field_the_title.0 }}</h2>
		</div>
		<div class="top-paragraph">
			<p>{{ content.field_top_paragraph.0 }}</p>
		</div>
		<div class="info-cell-wrapper">
			{{ content.field_info_cells }}
		</div>
	</div>
</div>