<div class="product-promos promo-odd">
	<div class="inner-container">
		<div class="col-md-12">
			<div class="col-md-6 vert-align">
				<div class="align-vert">
					<div class="field-icon">
						{{ content.field_icon }}
					</div>
					<h2>{{ content.field_burb_title.0 }}</h2>
					<p>{{ content.field_blurb_text.0 }}</p>
				</div>
			</div>
			<div class="col-md-6 image-right icon-titles-right">
				<div class="promo-inline-icons">{{ content.field_inline_icons }}</div>
			</div>
		</div>
	</div>
</div>
